
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(bg.png);
   
}
header{
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.337);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    box-sizing:border-box;
    position: relative;
    z-index: 1000;
}
.logo{
    height: 50px;
    width: aut0;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 10px;
}
ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
li{
    float: left;
}
.top a:hover{
    color: red;
}
.top a{
    padding: 20px;
    padding-top: 30px;
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 12px;
    white-space: nowrap;
}

.back{
    background-color: red;
    color: white;
    border: none;
    height: 35px;
    width: 160px;
    font-size: 15px;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: -10px;
   
}
.back:hover{
    cursor: pointer;
    transform: rotate(5deg, 5deg) scale(1.5);
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
footer{
    background-color: #162249;
    padding: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}
.about p{
    font-size: 20px;
    color:#6c757d;
    margin: 15px 0;
    line-height: 1.5;
}
.about{
    flex: 2;
    min-width: 250px;
}
.about .logo{
    margin: 0 0 15px 0;
    height: 50px;
    width: auto;
}
.quick, .contact{
    flex: 1;
    min-width: 150px;
}
.quick h4{
    margin-bottom: 20px;
    font-size: 16px;
    color: #6c757d;
    text-transform: capitalize;
    font-weight: lighter;
}
.quick ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0;
    list-style: none;
}
.quick a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-weight:lighter;
    padding: 0;
}
.quick a:hover{
    color: red;
}
.quick{
    margin-left: 120px;
    margin-right: 0;
}
.contact{
    flex: 1.5;
    min-width: 220px;
}
.contact p{
    color: white;
font-size: 13px;
margin: 12px 0;
display: flex;
align-items: center;
gap: 12px;
}

.contact p i {
    width: 25px;
    text-align: center;
}

.bottom{
    background-color:  #162249;
    margin-top: none;
    color: white;
    padding: 20px;
    font-size: 12px;
}
.bottom hr{
    color: black;
    margin: 0 20px;
}
.why span{
    color: red;
    font-style: italic;
}
.why{
    font-family: "Sanchez", sans-serif;
    font-size: 70px;
    font-weight: 400;
}
.cards{
    display: flex;
    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    max-width: 1400px;
    margin: 0 auto;
}
h4{
    font-weight: bolder;
    font-size: 20px;
}
.card{
    flex:1 1 auto ;
    width: 100%;
    max-width: 320px;
    min-width: 180px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border-radius: 17px;
    border: 3px solid red;
    padding: 40px 20px 20px;
    background-color: rgba(255, 255, 255, 0.518);
    box-sizing: border-box;
}
.card p{
    margin-top: -20px;
}
main1 i{
    width:55px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 30px solid rgb(237, 165, 165);
    border-radius: 50%;
    background-color: rgb(237, 165, 165);
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
}
main1 i::before{
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.about i::before{
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.about i{
    width:30px;
    height: 30px;
    border: 3px solid rgba(149, 180, 205, 0.068);
    border-radius: 50%;
    background-color: rgba(178, 205, 227, 0.192);
    box-sizing: border-box;
    position: relative;
    margin-right: 15px;
}
.contact p span{
    margin-left: 30px;
}
.img{
    flex: 1;
    min-width: 280px;
    display: grid;
    flex-direction: column;
    gap: 15px;
}
.join span{
    color: red;
    margin: 0 5px 0 5px ;
}
.join{
    background-color: black;
    justify-content: center;
    display: flex;
    padding: 50px;
}
.join, .fut{
    width:100%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
.fut{
     background-color: rgb(255, 0, 0);
    justify-content: center;
    display: flex;
    padding: 60px;
    margin-top: -110px;
}
.fut span{
    color: rgb(16, 16, 112);
    margin-right: 5px;
}
.f1, .f2{
    height: auto;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.start{
     flex: 1;
    min-width: 280px;
    text-transform: capitalize;
    font-family: "Sanchez", sans-serif;
    font-size: 23px;
}
.main2 h1{
    font-weight: 500;
}
h1 span{
    color: red;
}
p span{
    margin-left: 12px;
}
.main2 p, h3{
    margin: 0;
}
.us, .add, .mail{
    margin-bottom: 15px;
}
.main2{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
 #menu, .ham , label i{
    display: none !important;
}
@media (max-width: 1024px){
    .top{
        top: 0;
        width: 100%;
        z-index: 10001;
    }
    .logo {
        margin: 0 !important;
        width: auto !important;
        height: 40px !important;
    }
    .ham, label i {
        display: block !important;
        font-size: 30px;
        cursor: pointer;
        color: #e32626;
        z-index: 1005;
    }
    .nav{
        display: flex !important;
        left:-100%;
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0%;
        width: 250px;
        background-color: white;
        z-index:9999;
        transition: 0.4s ease;
        margin-top: 39px;
    }
    .top #menu:checked ~ .nav {
        left: 0;
    }

    .top li {
        width: 100%;
        text-align: center;
        list-style: none;
        border-bottom: 1px solid #f0f0f0;
    }

    .top a {
        display: inline-block;
        width: 120px;
        height: 10px;
        color: black;
        text-decoration: none;
    }
    .back{
        display: inline-block;
        width: 130%;
        text-align: center;
        margin-left: -0px;
    }
}
   